.screenbox {
    list-style: none;
    width: 900px;
    background: #eee;
    border: 1px solid #333;
    padding: 5px 14px;
}

.screenbox li { 
    font: 12px/14px Courier, fixed; 
}

.sceneheader, .action, .character { 
    padding-top: 1.5ex; 
}

.action { 
    padding-right: 5%; 
}

.character { 
    margin-left: 40%; 
}

.dialogue { 
    margin-left: 25%; 
    padding-right: 25%; 
}

.parenthetical { 
    margin-left: 32%; 
    padding-right: 30%; 
}
